
@tailwind base;
@tailwind components;
@tailwind utilities; 

:root {
  --primary-color: #00D9C0;
  --dark-bg: #1E1E1E;
  --card-bg: #2A2A2A;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--dark-bg);
  color: white;
  max-width: 1440px ;
  width: 100%;
  margin: 0 auto;

  
}

.gradient-bg {
  background: radial-gradient(circle at center, rgba(0, 217, 192, 0.2) 0%, rgba(30, 30, 30, 0) 70%);
}
*{
  margin:  0 ;
  padding: 0%;
}

